<h2><strong>about blocipedia</strong></h2>
<p><strong>Blocipedia is a place for creating and sharing information and ideas.</strong></p>
<p><strong>Here, you add to or edit existing contents, create your own wikis, and and or remove collaborators</strong></p>

